/* Kill Me */
.da-containerCozy .inner-zqa7da {
	background:rgba(0,0,0,1) !important;
}
.containerCozy-jafyvG {
	background: rgba(0,0,0,1);
	margin: 15px 15px 0 25px;
	border-radius: 5px;
}
.spoilerWarning-2aAZq1 {
  background-color: rgba(0,0,0,0.5) !important;
  color: red !important;
}
